################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TeamAssistantService/TeamAssistantService/obj
/TeamAssistantService/.vs/TeamAssistantService/v16
/.vs/TeamAssistant/v16
/.vs
